.beginPromo{
	padding: 15px;
	background: rgb(24, 24, 31);
	display: flex;
	flex-direction: column;
	gap: 5px;
	&__flex{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__text{
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
	}
	&__cost{
		color: rgb(254, 148, 0);
	}
}