.promoList{
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	
	&__item{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;
		position: relative;
		transition: color 0.3s ease;
		cursor: pointer;
		&:hover{
			color: rgba(254, 148, 0, 1);
		}
		& img{
			display: block;
		}
		& span{
			font-size: 14px;
			font-weight: 500;
			line-height: 16px;
		}		
	}
	&__question{
		display: block;
		cursor: pointer;
		z-index: 1;
		&:hover + .promoList__help{
			opacity: 1;
		}		
	}
	&__help{
		position: absolute;
		top: 2px;
		z-index: 5;
		left: 54%;
		font-size: 10px;
		background-color: rgba(255, 255, 255, 0.25);
		text-align: center;
		opacity: 0;
		transition: opacity 0.3s ease;	
		color: white;	
	}
}