.aside{
	width: 368px;
	background: rgb(22, 23, 28);
	display: flex;
	flex-direction: column;
	&__top{
		height: 180px;
		background: rgb(35, 36, 40);
	}
	&__box{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 15px;
		padding: 20px 0;
		flex-grow: 1;
	}
	&__text{
		font-size: 35px;
		font-weight: 700;
		line-height: 41px;
		text-align: center;
		padding: 0 75px;
	}
}