.aside{
	flex-grow: 1;
	background: rgb(22, 23, 28);
	&__list{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		height: 100%;
	}
	&__item{
		color: white;
		font-size: 20px;
		background-color: rgb(35, 36, 40);
		border: 1px solid rgb(35, 36, 40);
		width: 60%;
		text-align: center;
		padding: 20px 0;
		border-radius: 4px;
		cursor: pointer;
		transition: border 0.3s ease;
		&.active{
			border: 1px solid rgb(248, 108, 26);
		}
		&:hover{
			border: 1px solid rgb(248, 143, 111);
		}
	}
}