.main{
	flex-grow: 3;
	padding-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu{
	width: 295px;
	background: rgb(20, 20, 25);
	border-radius: 4px;
	&__box{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
		gap: 60px;
		&-header,
		&-description{
			display: flex;
			align-items: center;
			gap: 15px;
			position: relative;
		}
		&-img{
			position: relative;
			& img{
				display: block;
			}
		}
		&-title{
			font-size: 18px;
			font-weight: 700;
			line-height: 21px;
		}
		&-question{
			display: block;
			cursor: pointer;
			z-index: 1;
			&:hover + .menu__box-help{
				opacity: 1;
			}
		}
		&-help{
			position: absolute;
			top: -30px;
			z-index: 5;
			left: -20px;
			font-size: 10px;
			background-color: rgba(255, 255, 255, 0.25);
			text-align: center;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		&-arrow{
			transition: transform 0.1s ease;
			cursor: pointer;
			user-select: none;
			&_active{
				transform: rotate(180deg);
			}
		}
	}
}