.item{
	background: #1c1c21;
	flex-grow: 1;
	width: 1030px;
	display: flex;
	flex-direction: column;
	&__wrapper{
		border-radius: 4px;
		background: rgb(20, 20, 25);
		width: 295px;
		margin: 0 auto;
	}
	&__box{
		display: flex;
		gap: 10px;
		padding: 15px;
		
	}
	&__title{
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgb(230, 230, 230);
		font-size: 60px;
		font-weight: 700;
		line-height: 70px;
		height: 180px;
		background: rgb(35, 36, 40);
		margin-bottom: 140px;
	}
	&__block{
		display: flex;
		align-items: center;
		gap: 15px;
		position: relative;
	}
	&__subtitle{
		font-size: 18px;
		font-weight: 700;
		line-height: 21px;
	}
	&__question{
		display: block;
		cursor: pointer;
		z-index: 1;
		&:hover + .item__help{
			opacity: 1;
		}
	}
	&__help{
		position: absolute;
		top: -30px;
		z-index: 5;
		left: -20px;
		font-size: 10px;
		background-color: rgba(255, 255, 255, 0.25);
		text-align: center;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	&__arrow{
		transition: transform 0.1s ease;
		cursor: pointer;
		user-select: none;
		&.active{
			transform: rotate(180deg);
		}
	}
}