.table{
	&__head{
		padding: 10px 15px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 14px;
		&-text{
			color: rgb(83, 86, 96);
			font-size: 13px;
			font-weight: 400;
			line-height: 15px;
			&:last-child{
				margin-left: auto;
			}
		}		
	}
	&__body{
		display: flex;
		flex-direction: column;
		&-item{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 14px;
			padding: 3px 15px 3px 22px;
			&:nth-child(even){
				background-color: rgba(24, 24, 30, 1);
			}
		}
		&-text{
			color: rgb(151, 151, 151);
			font-size: 13px;
			font-weight: 400;
			line-height: 15px;
		}
		&-name{
			color: rgb(254, 148, 0);
		}
		&-rp{
			font-size: 13px;
			font-weight: 400;
			line-height: 15px;
			margin-left: auto;
		}		
	}
}